body {
    min-height: 70px;
    border-radius: 0 0 32px 0;
    background: #ffaef8;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    
}

h1 {
    color:rgb(255, 255, 255);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.5cm;
    font-weight: bold;

}

h2 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 25px;
}

.destacado {
    color: rgb(100, 114, 237);
    font-weight: bolder;
    font-style: italic;

}

/* imagenes */
