/* reseteo de valores por defecto del navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.view1{
    position: relative;
    width: 100%;
    height: 100vw; /*view por heigth abarca la pantalla completa*/
    min-width: 1300px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
    background-color: rgb(0, 0, 190);
}
nav p{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-decoration: underline;
}
nav > p,header{
    margin-left: 40px;
}
li{
    font-size: 15px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    transition: 0,4s ease 0s;
    font-weight: 500;
}
li:hover{
    color: rgba(0, 153, 255, 1);
}
header{
    position: absolute;
    width: 400px;
    top: 20%;
}
h1{
    line-height: 75px;
    font-weight: 500;
    font-size: 64px;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}
header p{
    width: 757px;
    height: 70px;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 10px;
}
header button{
    background-color: rgba(0, 153, 255, 1);
    width: 150px;
    height: 40px;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    font-style: normal;
    color: #fff;
    transition: 0,4s ease 0s;
}
header button:hover{
    box-shadow: 1px 1px 7px #333;
}
.logoargprog{
    position: absolute;
    top: auto;
    nav-left: auto;
}
.ilustracion{
    position: absolute;
    right: 0%;
    width: 618px;
    height: 545px;
}